// Fonts //
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i'); // Web Font font-family: 'IBM Plex Sans', sans-serif;


// Global //
@BackgroundGrey: #e4e4e4;
@FocusWhite: #ffffff;
@FooterDefault: #242424;
@FormGrey: #F2F2F2;


// Visual Group //
@VisualGroupPrimary: #0e3083;
@VisualGroupPale: #5973b6;
@VisualGroupLight: #418ae5;

// Visual Safety //
@VisualSafetyPrimary: #c10037;
@VisualSafetyPale: #963a45;
@VisualSafetyDark: #93022c;

// Visual Food Safety //
@VisualFoodPrimary: #d14c1e;
@VisualFoodPale: #cc7b5f;
@VisualFoodDark: #b1421b;

// Visual Farm Safety //
@VisualFarmPrimary: #34753f;
@VisualFarmPale: #4d8557;
@VisualFarmDark: #225f2c;

// Visual Electrical //
@VisualElectricalPrimary: #f5a200;
@VisualElectricalPale: #f1bf5e;
@VisualElectricalDark: #bc8418;

// Visual Automotive //
@VisualAutoPrimary: #18a096;
@VisualAutoPale: #64c0b9;
@VisualAutoDark: #16766f;

// Visual Quarrying //
@VisualQuarryPrimary: #434b59;
@VisualQuarryPale: #536076;
@VisualQuarryDark: #2d3544;

// Typography //

h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    &.VisualGroup{
        color: @VisualGroupPrimary;       
    }
    &.VisualSafety{
        color: @VisualSafetyPrimary;
    }
    &.VisualFood{
        color: @VisualFoodPrimary;
    }
    &.VisualFarm{
        color: @VisualFarmPrimary;
    }
    &.VisualElectrical{
        color: @VisualElectricalPrimary;
    }
    &.VisualAutomotive{
        color: @VisualAutoPrimary;
    }
    &.VisualQuarry{
        color: @VisualQuarryPrimary;
    }
}
h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    &.VisualGroup{
        color: @VisualGroupPrimary;       
    }
    &.VisualSafety{
        color: @VisualSafetyPrimary;
    }
    &.VisualFood{
        color: @VisualFoodPrimary;
    }
    &.VisualFarm{
        color: @VisualFarmPrimary;
    }
    &.VisualElectrical{
        color: @VisualElectricalPrimary;
    }
    &.VisualAutomotive{
        color: @VisualAutoPrimary;
    }
    &.VisualQuarry{
        color: @VisualQuarryPrimary;
    }
}
h3{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    &.VisualGroup{
        color: @VisualGroupPrimary;       
    }
    &.VisualSafety{
        color: @VisualSafetyPrimary;
    }
    &.VisualFood{
        color: @VisualFoodPrimary;
    }
    &.VisualFarm{
        color: @VisualFarmPrimary;
    }
    &.VisualElectrical{
        color: @VisualElectricalPrimary;
    }
    &.VisualAutomotive{
        color: @VisualAutoPrimary;
    }
    &.VisualQuarry{
        color: @VisualQuarryPrimary;
    }
}
h4{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    &.VisualGroup{
        color: @VisualGroupPrimary;       
    }
    &.VisualSafety{
        color: @VisualSafetyPrimary;
    }
    &.VisualFood{
        color: @VisualFoodPrimary;
    }
    &.VisualFarm{
        color: @VisualFarmPrimary;
    }
    &.VisualElectrical{
        color: @VisualElectricalPrimary;
    }
    &.VisualAutomotive{
        color: @VisualAutoPrimary;
    }
    &.VisualQuarry{
        color: @VisualQuarryPrimary;
    }
}
h5{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    &.VisualGroup{
        color: @VisualGroupPrimary;       
    }
    &.VisualSafety{
        color: @VisualSafetyPrimary;
    }
    &.VisualFood{
        color: @VisualFoodPrimary;
    }
    &.VisualFarm{
        color: @VisualFarmPrimary;
    }
    &.VisualElectrical{
        color: @VisualElectricalPrimary;
    }
    &.VisualAutomotive{
        color: @VisualAutoPrimary;
    }
    &.VisualQuarry{
        color: @VisualQuarryPrimary;
    }
}
h6{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    &.VisualGroup{
        color: @VisualGroupPrimary;       
    }
    &.VisualSafety{
        color: @VisualSafetyPrimary;
    }
    &.VisualFood{
        color: @VisualFoodPrimary;
    }
    &.VisualFarm{
        color: @VisualFarmPrimary;
    }
    &.VisualElectrical{
        color: @VisualElectricalPrimary;
    }
    &.VisualAutomotive{
        color: @VisualAutoPrimary;
    }
    &.VisualQuarry{
        color: @VisualQuarryPrimary;
    }
}
p{
    font-family: 'IBM Plex Sans', sans-serif;   
}

// Media Queries //

@smartphones: ~"only screen and (max-width: 479px)";
@laptops: ~"only screen  and (max-width : 1224px)";

