// Buttons //

button{
    border-radius: 35px;
    padding: 10px;
    border: 0px;
    &.large{
        width: 100%;
    }
    &.medium{
        width: 75%;
    }
    &.small{
        width: 50%;
    }
    &.xsmall{
        width: 25%;
    }
}