// Global Styling //

// Margins //

.mt35{
    margin-top: 35px;
}
.mb35{
    margin-bottom: 35px;
}

body{
    background-color: @BackgroundGrey;
}

// Header //
div.topbar{
    width: 100%;
    overflow: hidden;
    padding: 20px;
    height: 50px;
    &.VisualGroup{
        background-color: @VisualGroupPrimary;
    }
}

div.header{
    width: 100%;
    overflow: hidden;
    background-color: @FocusWhite; 
    div.branding{
        img.logo{
            width: 80%;
            margin-top: 35px;
            @media @smartphones{
                width: 50%;
            }
        }
    }
    div.search{
        position: relative;
        input[type="text"]{            
            background-color: @FormGrey;
            padding: 10px;
            border: 0;
            width: 90%;
            margin-top: 45px;
            height: 45px;
        }
        input[type="submit"]{           
            color: @FocusWhite;
            border: 0;
            font-size: 12px;
            width: 10%;     
            padding-top: 9px;
            padding-bottom: 4px;
            padding-left: 10px;
            padding-right: 10px;
            height: 45px;        
            margin-left: -20px;
            -webkit-appearance: none;   
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 700;      
            &.VisualGroup{
                background-color: @VisualGroupPrimary;  
                transition: all 0.5s;   
                &:hover{
                    background-color: @VisualGroupPale;
                    transition: all 0.5s;
                }           
            }
        }
    }
    div.cart{
        margin-top: 55px;
        text-align: right;
        &.VisualGroup{
            color: @VisualGroupPrimary;
        }
    }
    div.nav{
        margin-top: 25px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        ul{
            padding: 0;
            li{
                display: inline-block;
                list-style: none;
                list-style-position:inside;
                text-transform: uppercase;
                text-align: left;
                margin: 0;
                padding: 0px 20px;
                &.VisualGroup{                   
                    &:hover{
                        color: @VisualGroupPrimary;
                    }
                    &.active{
                        color: @VisualGroupPrimary;
                    }
                }
            }
        }
    }
}

// Masonry Grid //

div.grid{
    div.itemcard{
        background-color: @FocusWhite;
        height: 300px;
        padding: 10px;
        img{
            height: 275px;
            float: right;            
        }
        h1{
            text-transform: uppercase;
        }
    }
}