// Global Styling //

body{
    background-color: @BackgroundGrey;
}

// Header //
div.topbar{
    width: 100%;
    overflow: hidden;
    padding: 20px;
    height: 50px;
    &.VisualGroup{
        background-color: @VisualGroupPrimary;
    }
}

div.header{
    width: 100%;
    overflow: hidden;
    background-color: @FocusWhite;
    height: 200px;
}